*{
    box-sizing: border-box;
}
body,html {
    width: 100%;
}
body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: rgb(2,1,23);
    background: linear-gradient(90deg, rgba(2,1,23,1) 0%, rgba(0,0,6,1) 49%, rgba(1,14,17,1) 100%);
}
.container {
    width: 960px;
    height: 600px;
    margin: 50px auto;
    background-color: #1c2323;
    color: aliceblue;
    position: relative;
}
.verticalLine {
    height: 600px;
    position: absolute;
    top: 0;
    left: 850px;
    width: 2px;
    background-color: tomato;
}
.startBtn {
    position: absolute;
    width: 200px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    font-size: 28px;
    background-color: chocolate;
    color: white;
    border-radius: 6px;
    top: 260px;
    left: 325px;
    user-select: none;
    cursor: pointer;
}
.startBtn:hover {
    color: rgb(0, 255, 98);
}
.nickname {
    width: 400px;
    height: 300px;
    position: absolute;
    background-color: rgba(8,8,8,.7);
    top: 125px;
    left: 245px;
    display: none;
}
.nickname input {
    display: block;
    width: 300px;
    margin: 50px 50px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px  solid #eee;
    font-size: 38px;
    text-align: center;
    color: aliceblue;
}
.nickname button {
    display: block;
    margin: 2px auto;
    width: 160px;
    height: 30px;
    border: 2px solid #f90; 
    border-radius: 4px;
    opacity: .8;
}
.nickname button:hover {
    background-color: tomato;
    color: #eee;
}
.line {
    position: absolute;
    left: 0;
    width: 100%;
    height: 30px;
    color: black;
}
.line1{
   top: 0;
}
.line2 {
    top: 35px;
}
.line3 {
    top: 70px;
}
.line4 {
    top: 105px;
}
.line5 {
    top: 140px;
}
.line6 {
    top: 175px;
}
.line7 {
    top: 245px;
}
.line8 {
    top: 210px;
}
.line9 {
    top: 245px;
}
.line10 {
    top: 280px;
}
.line11 {
    top: 315px;
}
.line12 {
    top: 350px;
}
.line13 {
    top: 385px;
}
.line14 {
    top: 420px;
}
.line15 {
    top: 455px;
}
span {
    position: absolute;
    background-color: #d1e04a;
    top: 0;
    left: 0;
    padding: 2px 4px;
    color: black;
    border: 1px solid black;

}
.typing-line {
    position: absolute;
    width: 100%;
    height: 30px;
    bottom: 0;
    left: 0;
    background-color: chocolate;
}
.typing-line input {
    background-color: chocolate;
    width: 100%;
    border: none;
    color: white;
    height: 30px;
    font-size: 18px;
    outline: none;
}
.display-result {
    position: absolute;
    left: 850px;
    bottom: 30px;
    width: 110px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: antiquewhite;
    font-size: 28px;
}
.winner-scores {
    position: absolute;
    text-align: center;
    width: 200px;
    height: 600px;
    top: 0;
    right: -200px;
}

@media (min-width:1200px){
    .container {
        margin: 20px auto;
    }
}
@media (min-width:1400px){
    .container {
        margin: 40px auto;
    }
}
